---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import '../styles/faq.css';


---


<Layout>
    <body>
        <Header />
        <div class="container">
            <div class="wrapper">
                <button class="toogle">
                      How to use ?
                <i class="icon" style="font-style: normal ;">❓</i>
                </button>
                <div class="content">
                    <p>EasyLearn german v1.0.0 is very user friendly, all you have to do is, click on the start learning button. Refresh each time to learn a new word. Don't forget to send your feedback on what you'll like to see in v1.1.0 .</p>
                    
                </div>
            </div>
            <div class="wrapper">
                <button class="toogle">
                    How can i send feedbacks
                <i class="icon" style="font-style: normal ;">❓</i>
                </button>
                <div class="content">
                    <p><ul>
                        <li>You can send feedbacks on engaging on the reddit post made by PRO (aaronchris)</li>
                        <br />
                        <li>You can also send feedbacks by buying us a world, this method is the fast way to get your feedbacks attended to quickly</li>
                        <br />
                        <li>send a direct message to our PRO(aaronchris)</li>
                    </ul>
                </p>

                </div>
            </div>
            <div class="wrapper">
                <button class="toogle">
                    Next version release date
                <i class="icon" style="font-style: normal ;">❓</i>
                </button>
                <div class="content">
                    <p> The newer version is said to be release on or before the 23rd of November 2022, we still encourage users to show support and drop honest feedbacks on what they would want to see in the newer version, this project is open-sourced and it allow users feedback </p>
                </div>
            </div>
          
        </div>
    </body>
    <footer>Made with 💖 by Aaron</footer>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="aaronchris" data-description="Support me on Buy me a coffee!" data-message="Support this project" data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    <script src="../js/faq.js" is:inline></script>
</Layout>